extends ./includes/layout
block main	
	if diet==undefined
		h4 Calculate Diet first! 
	else 

		.row
			.col.s12(style="text-align:center")
				h5 My Diet for #{diet.date}
		.row
			.col.s12
				ul.collapsible(data-collapsible='expandable')
					li
						.collapsible-header
							.row.viewdietzeromargin
								.col.s4(style="")
									| Early BreakFast
								.col.s2.offset-s6
									a.waves-effect.waves-light(href='#modal1') 
										i.material-icons close
									#modal1.modal
										.modal-content
											p Disard #{diet.eb.name}

										.modal-footer
											a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='/removenow/'+'#{diet.eb._id}') For Now
											a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='/removeforever/'+'#{diet.eb._id}') For Ever

						.collapsible-body
							.row.viewdietzeromargin
								.col.s4
									h6 Name
								.col.s8
									h6 #{diet.eb.name}
							.row.viewdietzeromargin
								.col.s4
									h6 Calories
								.col.s8
									h6 #{diet.eb.calories}
							.row.viewdietzeromargin
								.col.s4
									h6 Carbohydrates
								.col.s8
									h6 #{diet.eb.carbohydrates}
							.row.viewdietzeromargin
								.col.s4
									h6 Fats
								.col.s8
									h6 #{diet.eb.fats}
							.row.viewdietzeromargin
								.col.s4
									h6 Protein
								.col.s8
									h6 #{diet.eb.protein}



					li
						.collapsible-header
							.row.viewdietzeromargin
								.col.s4
									| BreakFast
								.col.s2.offset-s6
									a.waves-effect.waves-light(href='#modal2') 
										i.material-icons close
									#modal2.modal
										.modal-content
											p Disard #{diet.b.name}

										.modal-footer
											a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='/removenow/'+'#{diet.b._id}') For Now
											a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='/removeforever/'+'#{diet.b._id}') For Ever

						.collapsible-body
							.row.viewdietzeromargin
								.col.s4
									h6 Name
								.col.s8
									h6 #{diet.b.name}
							.row.viewdietzeromargin
								.col.s4
									h6 Calories
								.col.s8
									h6 #{diet.b.calories}
							.row.viewdietzeromargin
								.col.s4
									h6 Carbohydrates
								.col.s8
									h6 #{diet.b.carbohydrates}
							.row.viewdietzeromargin
								.col.s4
									h6 Fats
								.col.s8
									h6 #{diet.b.fats}
							.row.viewdietzeromargin
								.col.s4
									h6 Protein
								.col.s8
									h6 #{diet.b.protein}

					li
						.collapsible-header
							.row.viewdietzeromargin
								.col.s4
									| Lunch
								.col.s2.offset-s6
									a.waves-effect.waves-light(href='#modal3') 
										i.material-icons close
									#modal3.modal
										.modal-content
											p Disard #{diet.l.name}

										.modal-footer
											a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='/removenow/'+'#{diet.l._id}') For Now
											a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='/removeforever/'+'#{diet.l._id}') For Ever
						.collapsible-body
							.row.viewdietzeromargin
								.col.s4
									h6 Name
								.col.s8
									h6 #{diet.l.name}
							.row.viewdietzeromargin
								.col.s4
									h6 Calories
								.col.s8
									h6 #{diet.l.calories}
							.row.viewdietzeromargin
								.col.s4
									h6 Carbohydrates
								.col.s8
									h6 #{diet.l.carbohydrates}
							.row.viewdietzeromargin
								.col.s4
									h6 Fats
								.col.s8
									h6 #{diet.l.fats}
							.row.viewdietzeromargin
								.col.s4
									h6 Protein
								.col.s8
									h6 #{diet.l.protein}

					li
						.collapsible-header
							.row.viewdietzeromargin
								.col.s4
									| Snacks
								.col.s2.offset-s6
									a.waves-effect.waves-light(href='#modal5') 
										i.material-icons close
									#modal5.modal
										.modal-content
											p Disard #{diet.s.name}

										.modal-footer
											a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='/removenow/'+'#{diet.s._id}') For Now
											a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='/removeforever/'+'#{diet.s._id}') For Ever
						.collapsible-body
							.row.viewdietzeromargin
								.col.s4
									h6 Name
								.col.s8
									h6 #{diet.s.name}
							.row.viewdietzeromargin
								.col.s4
									h6 Calories
								.col.s8
									h6 #{diet.s.calories}
							.row.viewdietzeromargin
								.col.s4
									h6 Carbohydrates
								.col.s8
									h6 #{diet.s.carbohydrates}
							.row.viewdietzeromargin
								.col.s4
									h6 Fats
								.col.s8
									h6 #{diet.s.fats}
							.row.viewdietzeromargin
								.col.s4
									h6 Protein
								.col.s8
									h6 #{diet.s.protein}

					li
						.collapsible-header
							.row.viewdietzeromargin
								.col.s4
									| Dinner
								.col.s2.offset-s6
									a.waves-effect.waves-light(href='#modal4') 
										i.material-icons close
									#modal4.modal
										.modal-content
											p Disard #{diet.d.name}

										.modal-footer
											a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='/removenow/'+'#{diet.d._id}') For Now
											a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='/removeforever/'+'#{diet.d._id}') For Ever
						.collapsible-body
							.row.viewdietzeromargin
								.col.s4
									h6 Name
								.col.s8
									h6 #{diet.d.name}
							.row.viewdietzeromargin
								.col.s4
									h6 Calories
								.col.s8
									h6 #{diet.d.calories}
							.row.viewdietzeromargin
								.col.s4
									h6 Carbohydrates
								.col.s8
									h6 #{diet.d.carbohydrates}
							.row.viewdietzeromargin
								.col.s4
									h6 Fats
								.col.s8
									h6 #{diet.d.fats}
							.row.viewdietzeromargin
								.col.s4
									h6 Protein
								.col.s8
									h6 #{diet.d.protein}
